* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-sats: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
}

.container {
  width: 18rem;
  /* margin: 5rem 1rem; */
  /* padding: 3rem 2rem; */
}

.image-container {
  width: 100%;
  background-color: var(--Soft-violet);
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.picture {
  display: block;
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  mix-blend-mode: multiply;
  opacity: 80%;
}

.text {
  padding: 1.5rem 2rem 0.5rem;
  text-align: center;
  background-color: var(--Dark-desaturated-blue);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.insights {
  color: var(--Soft-violet);
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--White);
}

.description {
  color: var(--Slightly-transparent-white);
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.stats-1 {
  color: var(--White);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.stats-2 {
  color: var(--Slightly-transparent-white-sats);
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  .picture {
    object-fit: cover;
    height: 100%;
  }

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .image-container {
    width: 50%;
    border-top-left-radius: 0;
  }

  .text {
    width: 50%;
    text-align: left;
    padding: 2rem 2rem 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: 0.8rem;
    margin-bottom: 4rem;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }
}
